
<br> <%= link_to 'List Employee', peripherals_path %> <br><br>
<%= link_to 'List Peripherals', employees_path %><br>

<h1>Employees Peripherals</h1>

  <div class="field">
    <%= collection_select(:employee_peripheral, :employee_id, Employee.all,
                  :id, :name,
                 {:prompt => 'Please select the employee'}) %> <br>    
  </div>

<%= link_to 'submit', edit_employee_path() %>

<script type="text/javascript">
  var a =$('#employee_peripheral_employee_id').val()
</script>